@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap%27");

:root {
  --pure-black: #000000;
  --light-grey: #dfdfdf;
  --pure-white: #ffffff;
  --main-accent: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
}
